.container header.jumbotron {
  background: url(../images/header.png) left top no-repeat;
  height: 250px;
  padding-top: 250px;
  margin-top: 15px;
  margin-bottom: 50px;
  border-radius: 0;
}
header.jumbotron h1 {
  margin-left: 0px;
}
p {
  margin-bottom: 20px;
}
footer p {
  margin: auto;
}
footer {
  padding: 20px;
  margin-top: 50px;
  text-align: center;
  background-color: #EEE;
  color: #999;
}
.highlight {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container header.jumbotron {
    background-position: left center;
    padding-top: 70px;
    margin-bottom: 20px;
    border-radius: 6px;
    margin-top: 20px;
  }
  header.jumbotron h1 {
    margin-left: 200px;
    color: #FFF;
  }
}
